<div class="selectBar">
  <p class="description" style="display: inline">Character:</p>
  <select
    name="characterList"
    id="characterList"
    [(ngModel)]="indexChoose"
    (change)="changeCharacter()"
  >
    <option
      *ngFor="let character of characterList; let i = index"
      [ngValue]="i"
    >
      {{ character.name }}
    </option>
  </select>
</div>

<hr />
<div class="errorMessage" *ngIf="isError">
  <p>Invalid Input. Please choose another character which is valid!</p>
</div>

<app-character
  *ngIf="selected == 'character'"
  (changeDisplay)="changeDisplay($event)"
  [characterChoose]="characterChoose"
  [homeworld]="homeworld"
  [films]="films"
  [species]="species"
  [vehicles]="vehicles"
  [starships]="starships"
></app-character>

<app-films *ngIf="selected == 'film'" [filmChoose]="filmChoose" (changeDisplay)="changeDisplay($event)"></app-films>
