<!-- <div *ngIf="characterList">
  <p *ngFor="let character of characterList">{{character.name}}</p>
</div> -->

<select
  name="characterList"
  id="characterList"
  [(ngModel)]="characterChoose"
  (change)="changeCharacter()"
>
  <option *ngFor="let character of characterList" [ngValue]="character">
    {{ character.name }}
  </option>
</select>

<hr />
<app-character
  *ngIf="selected == 'character'"
  (changeDisplay)="changeDisplay($event)"
  [characterChoose]="characterChoose"
  [homeworld]="homeworld"
  [films]="films"
  [species]="species"
  [vehicles]="vehicles"
  [starships]="starships"
></app-character>

<app-homeworld
  *ngIf="selected == 'homeworld'"
  [homeworldChoose]="homeworldChoose"
></app-homeworld>
<app-films *ngIf="selected == 'film'" [filmChoose]="filmChoose"></app-films>
<app-species
  *ngIf="selected == 'species'"
  [speciesChoose]="speciesChoose"
></app-species>
<app-vehicles
  *ngIf="selected == 'vehicle'"
  [vehicleChoose]="vehicleChoose"
></app-vehicles>
<app-starships
  *ngIf="selected == 'starship'"
  [starshipChoose]="starshipChoose"
></app-starships>
