<div *ngIf="filmChoose">
  <p class="description">Title: {{ filmChoose.title }}</p>
  <p class="description">Episode_id: {{ filmChoose.episode_id }}</p>
  <p class="description">Opening_crawl: {{ filmChoose.opening_crawl }}</p>
  <p class="description">Director: {{ filmChoose.director }}</p>
  <p class="description">Release_date: {{ filmChoose.release_date }}</p>

  <div *ngIf="characters && characters.length != 0" class="description">
    <p class="descriptionTopic">Characters in the film</p>
    <hr />
    <p class="descriptionDetail" *ngFor="let character of characters">
      {{ character.name }}
    </p>
  </div>

  <div *ngIf="planets && planets.length != 0" class="description">
    <p class="descriptionTopic">Planets in the film</p>
    <hr />
    <p class="descriptionDetail" *ngFor="let planet of planets">
      {{ planet.name }}
    </p>
  </div>

  <div *ngIf="starships && starships.length != 0" class="description">
    <p class="descriptionTopic">Starships in the film</p>
    <hr />
    <p class="descriptionDetail" *ngFor="let starship of starships">
      {{ starship.name }}
    </p>
  </div>
  <div *ngIf="vehicles && vehicles.length != 0" class="description">
    <p class="descriptionTopic">Vehicles in the film</p>
    <hr />
    <p class="descriptionDetail" *ngFor="let vehicle of vehicles">
      {{ vehicle.name }}
    </p>
  </div>

  <div *ngIf="species && species.length != 0" class="description">
    <p class="descriptionTopic">Species in the film</p>
    <hr />
    <p class="descriptionDetail" *ngFor="let spy of species">
      {{ spy.name }}
    </p>
  </div>
</div>
