<div *ngIf="filmChoose">
  <p class="name" style="display: inline">{{ filmChoose.title }}</p>
  <button class="backButton" (click)="backToCharacter()">Back</button>
  <p class="description border">Episode_id: {{ filmChoose.episode_id }}</p>
  <p class="description border">
    Opening_crawl:<br />
    {{ filmChoose.opening_crawl }}
  </p>
  <p class="description border">Director: {{ filmChoose.director }}</p>
  <p class="description border">Release_date: {{ filmChoose.release_date }}</p>

  <div *ngIf="characters && characters.length != 0" class="description border">
    <p style="display: inline">Characters in the film</p>
    <p style="display: inline" *ngFor="let character of characters">
      {{ character.name }}
      <span *ngIf="i != characters.length - 1">,</span>
    </p>
  </div>

  <div *ngIf="planets && planets.length != 0" class="description border">
    <p style="display: inline">Planets in the film:</p>
    <p style="display: inline" *ngFor="let planet of planets; let i = index">
      {{ planet.name }}
      <span *ngIf="i != planets.length - 1">,</span>
    </p>
  </div>

  <div *ngIf="starships && starships.length != 0" class="description border">
    <p style="display: inline">Starships in the film:</p>
    <p
      style="display: inline"
      *ngFor="let starship of starships; let i = index"
    >
      {{ starship.name }}
      <span *ngIf="i != starships.length - 1">,</span>
    </p>
  </div>
  <div *ngIf="vehicles && vehicles.length != 0" class="description border">
    <p style="display: inline">Vehicles in the film:</p>
    <p style="display: inline" *ngFor="let vehicle of vehicles; let i = index">
      {{ vehicle.name }}
      <span *ngIf="i != vehicles.length - 1">,</span>
    </p>
  </div>

  <div *ngIf="species && species.length != 0" class="description border">
    <p style="display: inline">Species in the film:</p>
    <p style="display: inline" *ngFor="let spy of species; let i = index">
      {{ spy.name }}
      <span *ngIf="i != species.length - 1">,</span>
    </p>
  </div>
</div>
